body {
  background-image: url("/pink_checkered_background.jpg");
  overflow: hidden;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
}

/* remove scroll bar TODO: custom scroll bar? */
::-webkit-scrollbar {
  display: none;
}
