@import "tailwindcss";

@theme {
  --color-primary: #ffc9c9;
  --color-secondary: #d0f6fc;
  --color-tertiary: #9ab297;
  --color-quarternary: #ffffff;
  --color-dim: #2d2e2e;
}

body {
  background-image: url("/pink_checkered_background.jpg");
  overflow: hidden;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
}

/* remove scroll bar TODO: custom scroll bar? */
::-webkit-scrollbar {
  display: none;
}
